<h1 style="padding-left: 180px;">DGX Log Utility</h1>
<p>The DGX Log Utiltiy is a tool that was created to make gathering logs from a DGX 100 series easier.</p>
<p>There are two ways to use it:</p>
<h3>Connected to the ICS Lan</h3>
<ul>
<li>Connect your computer to the ICSLan port or any DXLink device ICSLan.
<ul>
<li>Wait for your computer to get an DHCP address from the DGX i.e. 198.18.128.XXX</li>
</ul>
</li>
<li>For most the default values should work, just click "Get Logs" and the program will make telnet / ftp connections to download the files. The program will save them and add them to a zip file.</li>
</ul>
<h3>Connected to the external network</h3>
<ul>
<li>In order to connect to the DGX shell the external interface needs to be enabled
<ul>
<li>Please see Appendix D of the DGX Hardware Reference for details</li>
<li>The basic commands are as follows for a DHCP network
<ul>
<li>Setup&nbsp;</li>
<li>send_command 5002:1:1, "'IFCONFIG-1, UP, D, hn=&lt;hostname&gt;'" where hostname is the hostname for the port</li>
<li>Confirm</li>
<li>enable notifications on 5002</li>
<li>send_command 5002:1:1, "'?IFCONFIG-1'"</li>
<li>Response: IFCONFIG-1, UP, D, ip=10.103.4.155, gw=10.103.4.1, mask=255.255.255.0, hn=DGX_Telnet</li>
</ul>
</li>
</ul>
</li>
<li>Change the FTP and Shell ip addresses to match the address that the DGX received and was verified</li>
<li>Change the Master ip address to the external IP of the DGX Master</li>
<li>Click "Get Logs" and the&nbsp;and the program will make telnet / ftp connections to download the files. The program will save them and add them to a zip file.</li>
</ul>
<h3>Notes</h3>
<p>The program will create two command files, master_commands.txt, and&nbsp;shell_commands.txt in the same directory that it is running. If you want to change the commands that are sent, you can edit these files with one command per line and no trailing lines at the end of the file. If you want to reset these files, just delete them and they will be recreated.</p>
<p>The program also creates a configuration file dgx_log_utility.conf This file stores any changes you make to the ip addresses or file names. To reset all settings, just delete this file, and the defaults will be recreated.</p>